

$titulo: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$texto: Verdana, Geneva, Tahoma, sans-serif;

$colorPrincipal: rgb(170, 135, 144);
$colorSecundario: rgb(226, 204, 80);


h1, h2, h3 {
    font-family: $titulo;
    color: $colorPrincipal;
}

a, p {
    font-family: $texto;
   color: $colorSecundario;
}


li {
    list-style: none;
    font-family: $texto;
}

.titulo {
    max-width:100%;
    margin: 0 auto;
}